.header {
  height: 25vh;
  background-color: black;
  color: white;
  position: relative;
  text-align: center;
}


.banner {
  width: 100vw;
  position: relative;
}

.name-logo {
  height: 28vh;
  position: absolute;
  top: 10%;
  left: 40%;
  z-index: 3;
}

.header-btn {
  float: right;
}

